/* Elements of all */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	font-family: 'Work Sans', sans-serif;
}

/*Landing 1 */
.landing-1 {
	background: var(--bluedark);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.custom-shape-divider-bottom-1628351826 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628351826 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 101px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1628351826 .shape-fill {
    fill: #FFFFFF;
}
.content-1 {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text-1 {
	width: 60%;
	color: var(--bluelight);
}
.text-1 h1 {
	font-size: 3.5rem;
	margin: 0;
}
.text-1 p {
	font-weight: 300;
	width: 80%;
	font-size: 1rem;
	margin-bottom: 1.5rem;
}
.button-2 {
	color: var(--negro);
	padding: 0.8rem;
	background: var(--blanco);
	text-decoration: none;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 0.9rem;
}
.button-2 {
	animation: button-animation1 8s infinite;
}
.img-2 {
	position: relative;
	height: 400px;
	width: 30%;
}



/* Landing-2 */
.landing-2 {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blanco);
	overflow-x: hidden;
}
.content-2 {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}
.tittle-2 {
	height: 30vh;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	color: var(--darkblue);
}
.tittle-2 h1 {
	color: var(--darkblue);
	line-height: 2.5rem;
	text-transform: uppercase;
	margin: 0;
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}
.tittle-2 h1 span {
	font-size: 3rem;
	color: var(--bluemate);
	font-weight: 900;
	letter-spacing: 0.1rem;
}
.tittle-2 h1 span:after {
	content: "";
	display: block;
	height: 1.5px;
	background: var(--bluedark);
	width: 50%;
	margin: auto;
	margin-top: .5rem;
}
.tittle-2 h1 span:after {
	animation: line-animation2 5s infinite;
}
.tittle-2 h1 span {
	animation: letter-animation1 5s infinite;
}
.tittle-2 h3 {
	width: 50%;
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	text-align: center;
}
.text-2 {
	display: flex;
	width: 100%;
	height: 70vh;
	padding: 5% 0 10% 0;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	color: var(--bluedark);
}
.buttons {
	width: 60%;
	height: 4rem;
	display: flex;
	align-items: center;	
	position: relative;	
}
.btn1 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	filter: invert(100%);
}
.btn2 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 20;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	mask-size: cover;
	filter: invert(100%);
}
.mision {
	padding: 5%;
	position: absolute;
	width: 40%;
	transform: translateX(0%);
	opacity: 1;
	transition: all .5s ease;
	background: var(--bluelight);
}
.mision li {
	margin-top: 1rem;
	list-style: disc;
}
.mision.active {
	transition: all .5s ease;
	opacity: 0;
	transform: translateX(-100%);
}
.vision {
	padding: 5%;
	transform: translateX(100%);
	position: absolute;
	width: 40%;
	opacity: 0;
	transition: all .5s ease;
	background: var(--bluelight);
}
.vision.active {
	transition: all .5s ease;
	opacity: 1;
	transform: translateX(0);
}
.vision p {
	text-align: justify;
}


/* Landing-3 */
.landing-3 {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--darkblue);
	padding: 3% 0 10% 0;
}
.content-3 {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.tittle-3 {
	width: 100%;
	background: var(--darkblue2);
	text-align: center;
	padding: 3%;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 3%;
	color: var(--blanco);
	overflow: hidden;
}
.tittle-3 h1 {
	margin: 0;
	font-size: 2.5rem;
	text-transform: uppercase;
	line-height: 2.3rem;
}
.tittle-3 h1 span {
	font-weight: 800;
	color: var(--bluemate);
}
.tittle-3 h1 span {
	animation: letter-animation1 7s infinite;
}
.tittle-3 h3 {
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	text-align: center;
}
.box-1 {
	display: flex;
	justify-content: space-between;
}
.text-3 {
	width: 48%;
	background: var(--darkblue2);
	text-align: justify;
	padding: 3%;
	color: var(--blanco);
}
.text-4 {
	width: 48%;
	background: var(--bluelight);
	text-align: justify;
	padding: 3%;	
}
.box-2 {
	padding: 3% 0 3% 0;
	width: 100%;
	height: auto;
}
.tittle-4 {
	width: 100%;
	background: var(--darkblue2);
	text-align: center;
	padding: 3%;
	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
	color: var(--blanco);
	overflow: hidden;
}
.tittle-4 h1 {
	margin: 0;
	font-size: 2.5rem;
	text-transform: uppercase;
	line-height: 2.3rem;
}
.tittle-4 h1 span {
	font-weight: 800;
	color: var(--bluemate);
}
.tittle-4 h1 span {
	animation: letter-animation1 7s infinite;
}
.tittle-4 h3 {
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0.5rem;
	text-align: center;
}
.event-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ev-tx-1 {
	width: 100%;
	z-index: 3;
}
.event-1 {
	width: 48%;
	text-align: left;
	padding: 3%;
	height: 60vh;
	justify-content: center;
	display: flex;
	align-items: flex-end;
	background-image: url(../img/img-cena.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.event-1:before {
	content: "";
	background: var(--shadowtext);
	height: 60vh;
	width: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 1;
}
.event-1 h2 {
	background: var(--negro);
	color: var(--blanco);
	padding: .5rem;
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 600;
	letter-spacing: .05rem;
}
.event-1 a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--darkblue);
	background: var(--bluelight);
	font-weight: 600;
	padding: .5rem;
	text-transform: uppercase;
}
.event-1 a:hover {
	transition: all .5s ease;
	background: none;
	color: var(--blanco);
	box-shadow: inset 0 0 0 1px #fff;
}
.event-2 {
	width: 48%;
	background-image: url(../img/img-festival.jpg);
	background-size: cover;
	background-position: center;
	text-align: left;
	padding: 3%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	overflow: hidden;
}
.event-2:before {
	content: "";
	background: var(--shadowtext);
	height: 60vh;
	width: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 1;
}
.event-2 h2 {
	background: var(--negro);
	color: var(--blanco);
	padding: .5rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 600;
	letter-spacing: .05rem;
}
.event-2 a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--darkblue);
	background: var(--bluelight);
	font-weight: 600;
	padding: .5rem;
	text-transform: uppercase;
}
.event-2 a:hover {
	transition: all .5s ease;
	background: none;
	color: var(--blanco);
	box-shadow: inset 0 0 0 1px #fff;
}






@media only screen and (max-width: 1080px) {

/* Landing-1 */
.landing-1 {
	background: var(--bluedark);
}

.content-1 {
	width: 90%;
	height: 90%;
	flex-direction: column;
}
.text-1 {
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.text-1 h1 {
	margin-bottom: 0.5rem;
	font-size: 2.5rem;
	line-height: 2.5rem;
}
.text-1 p {
	margin: auto;
	font-size: 1rem;
	text-align: center;
	width: 90%;
	margin-bottom: 1.5rem;
}
.img-2 {
	display: none;
}
.custom-shape-divider-bottom-1628351826 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

/* Landing-2 */
.landing-2 {
	height: auto;
}
.content-2 {
	width: 100%;
	flex-direction: column;
}
.tittle-2 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 10% 0 10% 0;
}
.tittle-2 h3 {
	width: 80%;
	text-align: center;
}
.tittle-2 h1 {
	text-align: center;
}
.tittle-2 h1 span {
	font-size: 3rem;
}
.tittle-2 h1 span:after {
	content: "";
	display: block;
	height: 1.5px;
	background: var(--bluelight);
	width: 100%;
	margin: auto;
	margin-top: .5rem;
}
.tittle-2 h1 span:after {
	animation: line-animation2 5s infinite;
}
.buttons {
	width: 90%;
	position: absolute;
}
.btn1 {
	width: 1.5rem;
	height: 2rem;
}
.btn2 {
	width: 1.5rem;
	height: 2rem;
}
.text-2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	height: auto;
	background: var(--bluelight);
}
.mision {
	width: 100%;
	position: relative;
	transform: translateX(0%);
	padding: 5% 15% 5% 15%;
}
.mision h2 {
	text-align: center;
	font-size: 1.7rem;
	text-transform: uppercase;
}
.mision li {
	font-size: .9rem;
	text-align: left;
	list-style: disc;
	margin-top: 1rem;
}
.vision {
	width: 100%;
	opacity: 0;
	padding: 5% 15% 5% 15%;
	position: absolute;
	transform: translateX(100);
}
.vision h2 {
	text-align: center;
	font-size: 1.7rem;
	text-transform: uppercase;
}
.vision p {
	margin-top: 1rem;
	font-size: .9rem;
	text-align: justify;
}
/* Landing-3 */
.landing-3 {
	height: auto;
	padding-bottom: 10%;
}
.content-3 {
	width: 100%;
}
.tittle-3 {
	padding-left: 5%;
	padding-right: 5%;
	background: none;
	padding-top: 10%;
	margin: 0;
}
.tittle-3 h1 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.tittle-3 h3 {
	font-size: .9rem;
}
.box-1 {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.text-3 {
	background: none;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
	font-size: .9rem;
}
.tittle-4 {
	background: none;
}
.tittle-4 {
	padding-left: 5%;
	padding-right: 5%;
	background: none;
	padding-top: 5%;
	margin: 0;
	padding-bottom: 5%;
}
.tittle-4 h1 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.tittle-4 h3 {
	font-size: .9rem;
}
.event-box {
	display: flex;
	flex-direction: column;
}
.ev-tx-1 {
	display: flex;
	flex-direction: column;
	align-items: left;
}
.event-1 {
	display: flex;
	justify-content: center;
	width: 80%;
	margin-bottom: 2rem;
	padding: 5%;
	padding-bottom: 10%;
}
.event-1 h2 {
	text-align: left;
	font-size: 1.5rem;
	padding: .2rem;
	margin-bottom: .5rem;
}
.event-1 a {
	text-align: center;
	margin-top: 0;
	font-size: .5rem;
}
.event-2 {
	display: flex;
	justify-content: center;
	width: 80%;
	margin-bottom: 2rem;
	padding: 5%;
	padding-bottom: 10%;
}
.event-2 h2 {
	text-align: left;
	font-size: 1.2rem;
	padding: .2rem;
	margin-bottom: .5rem;
}
.event-2 a {
	margin-top: 0;
	font-size: .5rem;
	text-align: center
}